.card {
	position: relative;
	border: 3px solid transparent;
	border-radius: 5px;
	padding: 2rem;
	background-color: #fff;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	&:hover {
    border-color: #5863EB;
		* { 
      color: #5863EB;
    } 
	}
	.card-link {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
    z-index: 1;
    &:after {
      display: none;
    }
	}
	.card-title {
		margin: 0;
	}
	small {
		color: rgba(0,0,0,.7);
	}
}
