body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  overflow: auto;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

h5 {
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
}

h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  &.sm {
    font-size: 12px;
    line-height: 1;
  }
}

a {
  position: relative;
  color: #5863EB;
  display: inline-block;
  text-decoration: none;
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin-top: -10px;
    background-color: #5863EB;
    transition: width .3s ease-out;
  }
  &:hover:after {
   width: 100%;
   transition: width .3s ease-in;
  }
}

.content {
  width: auto;
  max-width: 800px;
  margin: calc(80px + 4rem) auto 4rem;
  padding: 0 2rem;
}
