.row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.submit-row {
  text-align: right;
}
button {
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  outline: none;
  font-size: inherit;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); 
  background-color: #5863EB;
  color: #fff;
  cursor: pointer;
  transition: all .15s ease;
  &:hover {
    background-color: lighten(#5863EB, 5%);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-1px);
  }
}
label {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-right: 20px;
  flex: 32%;
  text-transform: none;
  &.align-top {
    align-self: flex-start;
    padding-top: 7px;
  }
}
input,
textarea {
  background-color: #f6f9fc;
  padding: .75rem 1rem;
  flex: 68%;
  width: auto;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #F9F9F9;
  transition: background-color .1s ease-in, color .1s ease-in;
  &:focus {
    box-shadow: 0 0 0 1px #F9F9F9;
    background-color: #fff;
  }
}
textarea {
  min-height: 140px;
}
