header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  margin: 0 2rem;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.25);
  background-color: #fff;
  z-index: 100;
  .logo {
    margin-right: auto;
  }
  nav {
    a {
      text-decoration: none;
      color: #000;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      &.active {
        color: #5863EB;
      }
    }
  }
  .mobile-trigger {
      position: relative;
      display: none;
      width: 35px;
      height: 35px;
      align-self: center;
      align-items: center;
      cursor: pointer;
      z-index: 10;
    .bar {
      position: absolute;
      width: 100%;
      height: 2px;
      background: #333;
      transform: rotate(0deg);
      transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      &-top {
        transform: translateY(0px) rotate(0deg);
      }
      &-bottom {
        transform: translateY(10px) rotate(0deg);
      }
    }
    &.open {
      .bar {
        background: #fff;
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s;
        &-top {
          transform: translateY(4px) rotate(45deg);
        }
        &-bottom {
          transform: translateY(3px) rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  header .mobile-trigger {
    display: flex;
  }
  header nav {
    display: none;
    &.open {
      position: fixed;
      display: flex !important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: rgba(0,0,0,.7);
      a {
        padding: 2rem 0;
        margin: 2rem 0;
        width: 100%;
        text-align: center;
        color: #fff;
        &:hover {
          background: lighten(#5863EB, 10%);
        }
      }      
    }
  }
}
