.home-page {
  header {
    border: none;
    nav {
      display: none;
    }
  }
  .content {
    h1 {
      font-size: 54px;
      line-height: 64px;
      font-weight: 400;
      margin-bottom: 4rem;
    }
    .whois a {
      display: block;
      margin-bottom: 1rem;
      color: #000;
      text-decoration: none;
      font-size: 40px;
      &:after {
        display: none;
      }
      &:hover { 
        color: #5863EB;
        &:after {
          display: none;
        }
      }
    }
  }
}
