:root {
  --lightBackground: #fafafa;
  --darkBackground: #1a1a1a;

  --background: var(--lightBackground);
  --accent: #673ab7;
  --text: var(--darkBackground);
  --maxWidth: 1200px;
  --fontFamily: "Noto Sans JP", sans-serif;
}
:root.dark-theme {
  --background: var(--darkBackground);
  --text: var(--lightBackground);
}

$breakPoint: 1200px;

body {
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
  color: var(--text);
  background: var(--background);
  overflow-x: hidden;
  transition: background 0.2s ease;
}

h1 {
  font-size: clamp(42px, 4vw, 76px);
  line-height: 1;
  font-weight: 700;
  color: var(--text);
  position: relative;
  &.colon:after {
    position: relative;
    display: inline;
    content: ":";
    color: var(--accent);
  }
}
h2 {
  font-size: 33px;
  line-height: 43px;
  font-weight: 400;
}
h3 {
  font-size: 26px;
  line-height: 43px;
}
h4 {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 0;
}
p {
  font-size: 1rem;
  line-height: 28px;
  font-weight: 100;
}

a {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  color: var(--accent);
  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: var(--accent);
    transition: width 200ms ease-out;
    content: "";
  }
  &:hover:after {
    width: 100%;
  }
}

img {
  max-width: 400px;
  width: 100%;
}

svg path,
polygon {
  fill: var(--text);
}

.container {
  width: auto;
  max-width: var(--maxWidth);
  margin: 0 auto;
  @media only screen and (max-width: $breakPoint) {
    padding: 0 2rem;
  }
}

img.rounded {
  border-radius: 50%;
  border: 5px solid var(--accent);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.grid {
  display: grid;
  &.grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.gap-1 {
    grid-gap: 1rem;
  }
  &.gap-2 {
    grid-gap: 2rem;
  }
  @media only screen and (max-width: $breakPoint) {
    &.grid-col-2,
    &.grid-col-3 {
      grid-template-columns: 1fr;
    }
  }
}

section {
  margin-top: 15vh;
  margin-bottom: 4rem;
  @media only screen and (max-width: $breakPoint) {
    margin-top: 5vh;
  }
}

#themeSwitcher {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  border: 3px solid var(--accent);
  background-color: var(--darkBackground);
  cursor: pointer;
  html.dark-theme & {
    background-color: var(--lightBackground);
  }
  &:focus {
    outline: none;
  }
}

.brand svg {
  margin: 2rem 2rem 0;
}

.links {
  top: 0;
  right: 0;
  @media only screen and (min-width: 1200px) {
    position: fixed;
  }
  .links-wrap {
    @media only screen and (min-width: 1200px) {
      position: absolute;
    }
  }
  nav {
    display: inline-flex;
    margin: 2rem 2rem 0;
    @media only screen and (min-width: 1200px) {
      transform: translateX(-65%) translateY(220px) rotate(-90deg);
      margin: 0;
    }
    a {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 18px;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

.experience h4 {
  font-weight: 400;
  color: var(--text);
}

.projects {
  h4 {
    font-weight: 400;
    margin: 0;
    span {
      font-size: 0.9rem;
    }
  }
  p {
    margin: 0;
  }
}
