.SocialIcons {
  list-style-type: none;
  padding: 0;
  display: flex;
  a {
    margin: 0 1rem;
    &:first-child {
      margin-left: 0;
    }
    svg path {
      transition: all 300ms ease;
    }
    &:hover {
      svg path {
        fill: #5863EB;
      } 
      &:after {
        width:0;
      }
    }
  }

  @media screen and (max-width: 480px) {
    position: relative;
    width: 150px;
  }
}
